# Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd
data = pd.read_csv('ratings.csv')
# сгруппируем по рейтингу, возьмем группу только с рейтингом 5.0 и посчитаем количество фильмов по id.
# сверху окажется фильм с самым большим кол-ом, у него будет index = 0
data = data.groupby(['rating']).get_group(5.0)['movieId'].value_counts()
# далее открываем файл с наименованиями фильмов и ищем title с нужным id.
data2 = pd.read_csv('movies.csv')
data2 = data2[data2['movieId']==data.index[0]].title
print(f"Фильм, которому поставили больше всего максимальных оценок: {data2.values[0]}")

Фильм, которому поставили больше всего максимальных оценок: Shawshank Redemption, The (1994)

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
data = pd.read_csv('power.csv',index_col = "country")
data
data = data[data['quantity'] >= 0].loc[["Lithuania","Estonia","Latvia"]]
data = data.loc[(data['year'] >= 2005) & (data['year'] <= 2010) & (data['category'].isin([4,12,21]))]
print(f"Суммарное потребление стран Прибалтики: {data['quantity'].sum()}")

Суммарное потребление стран Прибалтики: 240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [362]:
data = pd.read_html('http://currency.garant.ru')[4]
data

  Название валюты Обозначение  Номинал     Курс  Изменение курса
0      Доллар США         USD        1  74.0666          -0.2974
1            Евро         EUR        1  86.7838          -0.0808