# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [136]:
import pandas as pd
def det_class(row):
    if row['rating'] <= 2.0: return 'низкий рейтинг'
    if row['rating'] <= 4.0: return 'средний рейтинг'
    if row['rating'] <= 5.0: return 'высокий рейтинг'

df1 = pd.read_csv('ratings.csv')
df1 = df1.groupby(['movieId'])['rating'].mean().reset_index()
df1['class'] = df1.apply(det_class, axis = 1)
df1

      movieId    rating            class
0           1  3.872470  средний рейтинг
1           2  3.401869  средний рейтинг
2           3  3.161017  средний рейтинг
3           4  2.384615  средний рейтинг
4           5  3.267857  средний рейтинг
...       ...       ...              ...
9061   161944  5.000000  высокий рейтинг
9062   162376  4.500000  высокий рейтинг
9063   162542  5.000000  высокий рейтинг
9064   162672  3.000000  средний рейтинг
9065   163949  5.000000  высокий рейтинг

[9066 rows x 3 columns]

# Задание 2

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [139]:
# %%time 
# универсальный метод
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

def geo_class(req):
    req = req.split(' ')
    for word in req:
        for key, value in geo_data.items():
            if word in value: return key
    return 'undefined'

df1 = pd.read_csv('keywords.csv')
df1['region'] = df1['keyword'].apply(geo_class)
df1.head(10)

                      keyword     shows        region
0           вк москва розетка  64292779         Центр
1               одноклассники  63810309     undefined
2                       порно  41747114     undefined
3                        ютуб  39995567     undefined
4                   вконтакте  21014195     undefined
5  одноклассники моя страница  19976138     undefined
6                  майл псков  15144673  Северо-Запад
7                       авито  14786593     undefined
8                  переводчик  14453469     undefined
9                      яндекс  13344734     undefined

In [140]:
# %%time
# частный случай, но немного побыстрее
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

def geo_class(req):
    req = req.split(' ')
    for word in req:
        if word in geo_data['Центр']: return 'Центр'
        if word in geo_data['Северо-Запад']: return 'Северо-Запад'
        if word in geo_data['Дальний Восток']: return 'Дальний Восток'
    return 'undefined'

df1 = pd.read_csv('keywords.csv')
df1['region'] = df1['keyword'].apply(geo_class)
df1.head(10)

                      keyword     shows        region
0           вк москва розетка  64292779         Центр
1               одноклассники  63810309     undefined
2                       порно  41747114     undefined
3                        ютуб  39995567     undefined
4                   вконтакте  21014195     undefined
5  одноклассники моя страница  19976138     undefined
6                  майл псков  15144673  Северо-Запад
7                       авито  14786593     undefined
8                  переводчик  14453469     undefined
9                      яндекс  13344734     undefined

# Задание 3

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия. 
Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

    В переменную years запишите список из всех годов с 1950 по 2010.

    Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        для каждой строки пройдите по всем годам списка years
        если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

    Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

    Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [303]:
# создаем список с годами
years = str(list(range(1950, 2011)))
# создаем функцию, в которой извлекаем год фильма из title
def production_year(title):
    t_year = title.split("(")
    t_year = t_year[-1].replace(")",'')
    # если года нет или он не в пределах нашего списка, то 1900
    if t_year not in years: 
        return 1900
    return t_year
# создаем функцию для подсчета среднего рейтинга фильма
def mean_rating(movieId):
    return df2['rating'].loc[df2['movieId'] == movieId].mean()
  
df1 = pd.read_csv('movies2.csv')
df2 = pd.read_csv('ratings2.csv')
df1['year'] = df1['title'].apply(production_year)
df1['mean_rating'] = df1['movieId'].apply(mean_rating)
df1.sort_values('mean_rating',ascending = False).head(15)

,movieId,title,genres,year,mean_rating
7656,88448,Paper Birds (Pájaros de papel) (2010),Comedy|Drama,2010,5.0
8107,100556,"Act of Killing, The (2012)",Documentary,1900,5.0
9083,143031,Jump In! (2007),Comedy|Drama|Romance,2007,5.0
9094,143511,Human (2015),Documentary,1900,5.0
9096,143559,L.A. Slasher (2015),Comedy|Crime|Fantasy,1900,5.0
4251,6201,Lady Jane (1986),Drama|Romance,1986,5.0
8154,102217,Bill Hicks: Revelations (1993),Comedy,1993,5.0
8148,102084,Justice League: Doom (2012),Action|Animation|Fantasy,1900,5.0
4246,6192,Open Hearts (Elsker dig for evigt) (2002),Romance,2002,5.0
9122,145994,Formula of Love (1984),Comedy,1984,5.0
8115,100906,Maniac Cop 2 (1990),Action|Horror|Thriller,1990,5.0
9129,146662,Dragons: Gift of the Night Fury (2011),Adventure|Animation|Comedy,1900,5.0
8074,99636,English Vinglish (2012),Comedy|Drama,1900,5.0
5785,31522,"Marriage of Maria Braun, The (Ehe der Maria Br...",Drama,1979,5.0
9131,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy,1900,5.0